<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.debut.ellipsis.freehit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- PERMISSION FOR WRITING TO EXTERNAL SD CARD IN CASE OF CACHE PICTURES -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- THE MANIFEST CODE FOR SPLASH SCREEN -->
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Matches.UpcomingMatches.UpcomingMatchesActivity"
            android:label="Upcoming_Matches" />
        <activity
            android:name=".Matches.PastMatches.PastMatchesActivity"
            android:label="Past_Matches" />
        <activity android:name=".Matches.PastMatches.PastMatchScoreCard" />
        <activity android:name=".Matches.LiveMatches.LiveMatchScoreCard" />
        <activity android:name=".Matches.UpcomingMatches.UpcomingMatchScoreCard" />
        <activity android:name=".More.Player.PlayerSearch_Fragment"
            android:launchMode="singleTop">
            <meta-data  android:name="android.app.default_searchable"
                android:value=".PlayerSearch_Fragment"
                  android:resource="@xml/searchable">

            </meta-data>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

        </activity>
        <activity android:name=".IntoSlider.WelcomeActivity" />
        <activity
            android:name=".News.NewsArticle"
            android:label="News ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.debut.ellipsis.freehit.MainActivity" />
        </activity>
        <activity
            android:name=".Settings.CustomSettings"
            android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.debut.ellipsis.freehit.MainActivity" />
        </activity>
        <activity
            android:name=".More.Player.PlayerActivity"
            android:label="Player Info" />
        <activity android:name=".More.Team.TeamActivity" />
        <activity android:name=".More.Series.SeriesActivity" />
        <activity android:name=".More.Rankings.RankingActivity" />
        <activity android:name=".More.Records.RecordsActivity" />
        <activity android:name=".More.Series.SeriesListView"></activity>
        <activity
            android:name=".More.Team.TeamListView"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".More.favorites.FavouriteTeam.FavTeamNews" />
        <activity android:name=".More.favorites.FavouriteTeam.FavTeamUpcomingMatches" />
        <activity android:name=".More.favorites.FavouriteTeam.FavTeamPastMatches"></activity>
        <activity android:name=".More.favorites.FavouriteTeam.FavTeamPlayers"/>
        <activity android:name=".More.favorites.FavoritesActivity"/>
        <activity android:name=".More.Series.SeriesListView"/>
    </application>

</manifest>